.seating-chart {
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 25px;
    height: 25px;
    background: attr(data-background color);
    font-size: 8px;
    /*color: rgba(256, 256, 256, 0);*/
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.active {
    cursor: pointer;
}

.seating-chart-container {
    display: none;
    padding: 0px 0px 16px 16px;
    overflow-y: scroll;
    height: 58vh;
}

.seating-chart-title {
    display: none;
    flex-direction: row;
    align-items: center;
}

.seating-chart-back {
    height: 42px;
    background: #D9201B;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-right: 16px;
}

#mute {
    height: 42px;
    background: #D9201B;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-right: 16px;
}

#seating-chart-tooltip {
    background: #fff;
    display: none;
    flex-direction: column;
    /* align-items: center; */
    width: 280px;
    border-radius: 5px;
    z-index: 3;
    border: grey 2px solid;
}

#seating-chart-tooltip img {
    width: 240px;
}

#seating-chart-tooltip div {
    /* border-bottom: 3px solid black; */
    display: flex;
    justify-content: flex-start;
    /* float: left; */
    padding: 0px 0px 25px 20px;
}

.fas{
  padding-right: 12px;
  color: #8A8A8A;
}

#seating-chart-tooltip div:first-child {
    border: none;
    padding: 25px 0 25px 0;
    align-self: center;
}

.title{
  font-weight: bold;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    /* padding: 3% 0 1% 0;   */
}

#scatterplot {
    margin: auto;
    width: 800px;
    padding: 16px;
}

#line-chart {
    padding: 0 3%;
    /*height: 250px;*/
    /*width: 1250px;*/
}

#line-chart-inputs {
    padding: 0 15px 15px 15px;
}

.line-chart-container {
    display: flex;
    align-items: center;
    padding-left: 16px;
}

#play {
    width: 64px;
    height: 64px;
    border-radius: 50px;
    border: none;
    background: red;
}

body {
    /* background-color: #e5e5e5; */
    /* background-color: #cfd9df; */
    background-color: #edf2f7;
    font-family: 'IBM Plex Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.charts {
    border: lightgrey 2px solid;
    border-radius: 5px;
    background: #fff;
}

.left {
    margin-right: 16px;
}

.genre-details {
    display: flex;
    flex-direction: column;
}

.genre-detail {
    display: flex;
    justify-content: space-between;
    transition: transform .1s ease-in-out;
}

#movable-detail-forward {
    transition: transform .5s ease-in-out;
    transform: translate3d(100px, 0px, 0px);
}

#movable-detail-backward {
    transition: transform .5s ease-in-out;
    transform: translate3d(0px, 0px, 0px);
}

#movable-detail-enter-correct {
    transform: translate3d(0px, 0px, 0px);
}

#movable-detail-leave-correct {
    transform: translate3d(100px, 0px, 0px);
}

#detail-become-visible {
    transition: opacity .5s ease-in-out;
    opacity: 1;
}

#detail-invisible {
    opacity: 0;
}

.bold-title {
    font-weight: bold;
    color: black;
}

#detail-become-invisible {
    transition: opacity .5s ease-in-out;
    opacity: 0;
}

.genre-detail span:nth-child(2) {
    color: grey;
}

.song-details {
    top: 16px;
    width: 100%;
    position: relative;
    max-width: 400px;
    height: auto;
    display: none;

}

.song-details-xl {
    height: 40px;
}

.song-details-desc {
    padding-right: 10px;
}

/* Button to playback song */
.song-details .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    text-align: center;
}

.song-details-album-art {
    position: relative;
    width: 300px;
    min-height: 300px;
    max-height: 300px;
    z-index: 2;
}

#helpplaceholder {
    font-weight: bold;
    position: absolute;
    width: 300px;
    top: 25vh;
    left: 1vw;
    z-index: 1;
}

.selectSquare > input {
    visibility: hidden;
    position: absolute;
}

.selectSquare:hover {
    cursor: pointer;
}

.selectSquare {
    color: white;
    width: 23px;
    height: 23px;
    opacity: 0.25;
}

.btn:hover .musicbutton {
    fill: rgba(52, 52, 52, 0.850)
}

.genre-select-container {
    overflow: auto;
    padding: 16px 16px 16px 16px;
    display: none;
}

#genreSelectCheckboxes {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 16px 16px 0px 50px;
}

#genre-select-tooltip {
    background-color: rgba(46, 45, 44, 0.6);
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 200px;
    z-index: 3;
    border: 3px solid black;
}

.right .charts {
    padding: 16px;
}

.checkboxSquare {
    width: 100px;
    height: 25px;
    background: attr(data-background color);
    font-size: 11px;
    padding: 0px 8px 0px 8px;
    color: rgba(256, 256, 256, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}