.seating-chart {
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 25px;
    height: 25px;
    background: attr(data-background color);
    font-size: 8px;
    /*color: rgba(256, 256, 256, 0);*/
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.active {
    cursor: pointer;
}

.seating-chart-container {
    display: none;
    padding: 16px 0px 16px 16px;
    overflow-y: scroll;
    height: 58vh;
}

.seating-chart-title {
    display: none;
    flex-direction: row;
    align-items: center;
}

.seating-chart-back {
    height: 42px;
    background: #D9201B;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-right: 16px;
}

#mute{
  height: 42px;
  background: #D9201B;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-right: 16px;
}

#seating-chart-tooltip {
    background: #fff;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 200px;
    z-index: 3;
    border: 3px solid black;
}

#seating-chart-tooltip img {
    width: 200px;
}

#seating-chart-tooltip div {
    border-bottom: 3px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

#seating-chart-tooltip div:last-child {
    border: none;
    padding: 0;
}

h2{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  /* padding: 3% 0 1% 0;   */
}

#scatterplot{
  padding: 5%;
}

#line-chart{
  padding: 0 3%;
}

#line-chart-inputs{
  padding: 0 15px 15px 15px;
}

body {
    /* background-color: #e5e5e5; */
    /* background-color: #cfd9df; */
    background-color: #edf2f7;
    font-family: 'IBM Plex Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.charts {
    border: lightgrey 2px solid;
    border-radius: 5px;
    background: #fff;
}

.left {
    margin-right: 16px;
}

.genre-details {
    display: flex;
    flex-direction: column;
}

.genre-detail {
    display: flex;
    justify-content: space-between;
}

.genre-detail span:first-child {
    color: grey;
}

.song-details {
    width: 100%;
    position: relative;
    max-width: 400px;
    height: auto;
    display: none;

}

.song-details-xl {
    height: 40px;
}

.song-details-desc {
    padding-right: 10px;
}

/* Button to playback song */
.song-details .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    text-align: center;
}

.song-details-album-art {
    position: relative;
    width: 300px;
    min-height: 300px;
    max-height: 300px;
    z-index: 2;
}

#helpplaceholder {
    font-weight: bold;
    position: absolute;
    width: 300px;
    top: 25vh;
    left: 2vw;
    z-index: 1;
}

.selectSquare > input {
    visibility: hidden;
    position: absolute;
}

.selectSquare:hover {
    cursor: pointer;
}

.selectSquare {
    width: 23px;
    height: 23px;
    opacity: 0.25;
}

.btn:hover .musicbutton {
    fill: rgba(52, 52, 52, 0.850)
}

.genre-select-container {
    padding: 16px 16px 0px 16px;
    display: none;
}

#genre-select-tooltip {
    background-color: rgba(46, 45, 44, 0.6);
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 200px;
    z-index: 3;
    border: 3px solid black;
}

.right .charts {
    padding: 16px;
}
